.navbar-brand1
{
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 150px;
	margin-left: 80px;
}

.breadcrumb1
{
	padding-left: 600px;
	margin-right: 600px;
}

.d-flex1
{
	padding-left: 600px;
}

.navbar nav2
{
		border: 1px solid white;
}
.nav flex-row1
{
	margin-top: 0px;
}

